<h2>Relevant courses</h2>
<!--<ul class="list-group">-->
    <!--<li ng-repeat="class in courses" class="list-group-item">{{class.Course + ' ' + ' ' + class.Title + ' ' + class.Grade}}</li>-->
<!--</ul>-->

<p><em>University of Washington | School of Information, Informatics | Class of 2017</em></p>

<table class="table table-bordered">
    <tr class="table-head">
        <td class="category">Course</td>
        <td class="category">Title</td>
        <td class="category">Grade Received</td>
    </tr>
    <tr ng-repeat="class in courses">
        <td>{{class.Course}}</td>
        <td>{{class.Title}}</td>
        <td>{{class.Grade}}</td>
    </tr>
</table>

<h2>Resume</h2>
<p>Click to enlarge</p>
<img id="resume-sm" data-toggle="modal" data-target="#ResumePopup" src="img/resume.jpg" />
<div id="ResumePopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <img id="resume-lg" src="img/resume.jpg" />
        </div>
    </div>
</div>